{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Game list</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tournament</th>
                <th>Hometeam</th>
                <th>Awayteam</th>
                <th>Score</th>
                {#<th>Scoreset</th>#}
                <th>Played</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('game_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.tournament }}</td>
                    <td>{{ entity.homeTeam }}</td>
                    <td>{{ entity.awayTeam }}</td>
                    <td>{{ entity.score }}</td>
                    {#<td>{{ entity.scoreSet }}</td>#}
                    <td>{{ entity.played }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('game_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('game_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('game_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
