{% extends 'VolleyFaceBundle::admin.html.twig' %}

{% block body -%}
    <h1>Game</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Tournament</th>
                <td>{{ entity.tournament }}</td>
            </tr>
            <tr>
                <th>Hometeam</th>
                <td>{{ entity.homeTeam }}</td>
            </tr>
            <tr>
                <th>Awayteam</th>
                <td>{{ entity.awayTeam }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ entity.score }}</td>
            </tr>
            {#<tr>#}
                {#<th>Scoreset</th>#}
                {#<td>{{ entity.scoreSet }}</td>#}
            {#</tr>#}
            <tr>
                <th>Played</th>
                <td>{{ entity.played }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('game') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('game_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
