{% extends '::layout.html.twig' %}

{#{% set page_image = app.request.getSchemeAndHttpHost() ~ post.getWebPath %}#}
{% set title =  team.name ~ ' '~ team.city ~ ', ' ~ team.country ~ '' %}
{% set meta_keywords = team.name ~ ', ' ~ team.city ~ ', ' ~ team.country ~ ', волейбол, склад команди, тренери, титули, турніри, адреса, новини'%}
{% set meta_description = 'Сторінка волейбольної команди' ~ team.name ~ ' ('~ team.city ~ ', ' ~ team.country ~ ')' ~ ' на Волейболу в Україні - volleyball.ua' %}

{% block content %}
    <div class="section team-upperline">
        <div class="container text-center">
            <span class="team-title">ВОЛЕЙБОЛЬНІ КОМАНДИ</span>
        </div>
    </div>

    <div class="section team">

        <div class="container">

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="team-logo-container">
                        <div class="team-logo" style="background-image: url({{ team.getLogoWebPath | imagine_filter('team_logo') }}); "></div>
                        <div class="team-name">
                            <h1>{{ team.name }}</h1>
                            <h2>{{ team.city ~ ' ' ~ team.country }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="photo" style="width: 100%; float: left" src="{{ team.getWebPath | imagine_filter('team_roster') }}"
                         alt="{{ team.name ~ ' ('~ team.city ~ ', ' ~ team.country ~ ')' }}">
                </div>
            </div>

            <div class="row">
                    {% if roster %}
                        {% for person in roster.rosterPersons %}
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <a href="{{ path('stat_person_front',{'person_slug': person.person.slug}) }}">
                                        <div class="person-container">
                                            <div class="person-image" style="background-image: url({{ person.person.webPath | imagine_filter('team_player') }});"></div>
                                            <div class="person-info">
                                                <div style="height: 50px;">
                                                    <div class="team-person-number">
                                                        {{ person.id }}
                                                    </div>
                                                    <div class="team-person-name">
                                                        <div style="display: block; line-height: 23px;">{{ person.person.firstName }}</div>
                                                        <div style="display: block; line-height: 23px;">{{ person.person.lastName }}</div>
                                                    </div>
                                                </div>

                                                <div class="person-middle-info">
                                                    <div>{{ person.person.type == 'staff' ? person.person.title : person.person.type|trans }}</div>
                                                    <div>{{ person.person.grade }}</div>
                                                    <div>{{ person.person.position|trans }}</div>
                                                </div>
                                                <div class="person-bottom-info">
                                                    <div>Вік: {{ person.person.birthDate|age }}</div>
                                                    <div>Зріст: {{ person.person.height }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="team-descr">{{ team.description|raw }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 team-address">
                        <ul>
                            <li><span class="team-name">{{ team.name }}</span></li>
                            {% if team.site != '' %}<li>{{ team.address }}</li>{% endif %}
                            {% if team.site != '' %}<li><a href="tel: {{ team.site }}">{{ team.site }}</a></li>{% endif %}
                            {% if team.fax != '' %}<li>{{ team.fax }}</li>{% endif %}
                            {% if team.email != '' %}<li><a href="mailto: {{ team.email }}">{{ team.email }}</a></li>{% endif %}
                            {% if team.site != '' %}<li><a href="{{ team.site }}">{{ team.site }}</a></li>{% endif %}
                            {% if team.hall != '' %}<li>{{ team.hall }}</li>{% endif %}
                        </ul>
                    </div>
                    <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 team-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->



{% endblock %}

{% block scripts %}
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
    </script>
{% endblock %}