{% extends '::layout.html.twig' %}

{% block carousel %}

    <div class="section section-carousel">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="item {{ loop.first ? "active" : "" }}">
                            <a href="#">
                            <img src="{{ '/uploads/slides/' ~ slide.imageName }}">
                            {#<img src="{{ ('uploads/slides/' ~ slide.imageName) | imagine_filter('carousel') }}">#}
                            {#{{ '/uploads/slides/' ~ slide.id ~ '.' ~ slide.image | imagine_filter('carousel') }}#}

                            <div class="carousel-caption">
                                <h4>{{ slide.title }}</h4>
                                <p></p>
                            </div>
                            </a>
                        </div>
                        <!-- End Item -->
                    {% endfor %}
                </div>
                <!-- End Carousel Inner -->


                <ul class="list-group col-sm-4">
                    {% for slide in slides %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index - 1 }}"
                            class="list-group-item {{ loop.first ? "active" : "" }}">
                            <div>
                                <h4>{{ slide.title }}</h4>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Controls -->
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
            <!-- End Carousel -->
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="sections">

        <div class="container">

            <div class="row news">
                {% for item in news %}
                    <div class="news-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="{{ path('volley_face_post',{'post_id': item.id}) }}">
                            <img class="img-responsive" src="{{ item.getWebPath }}">
                        </a>
                        <div class="news-info">
                            <span class="news-date">{{ item.created|localizeddate('none', 'none', null, null, "cccc, d MMMM")}}</span>
                            <span class="news-author">{{ item.createdBy }}</span>
                            <span class="clearfix"></span>
                        </div>
                        <a href="{{ path('volley_face_post',{'post_id': item.id}) }}"><h3>{{ item.title }}</h3></a>
                        {#{% autoescape %}#}
                        {#{{ item.content|raw }}#}
                        {#{% endautoescape %}#}
                    </div>
                    {% if (loop.index is even) %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- /.row -->

            <hr>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}