{% extends '::layout.html.twig' %}

{% block carousel %}

    <div class="section section-carousel">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    {% for slide in slides %}
                        <div class="item {{ loop.first ? "active" : "" }}">
                            <img src="{{ ('uploads/slides/' ~ slide.id ~ '.' ~ slide.image) | imagine_filter('carousel') }}">
                            {#{{ '/uploads/slides/' ~ slide.id ~ '.' ~ slide.image | imagine_filter('carousel') }}#}

                            <div class="carousel-caption">
                                <h4><a href="#">{{ slide.title }}</a></h4>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum
                                    dolor
                                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                    labore
                                    et dolore magna aliquyam erat.
                                </p>
                            </div>
                        </div><!-- End Item -->
                    {% endfor %}

                </div>
                <!-- End Carousel Inner -->


                <ul class="list-group col-sm-4">
                    {% for slide in slides %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index - 1 }}"
                            class="list-group-item {{ loop.first ? "active" : "" }}"><h4>{{ slide.title }}</h4></li>
                    {% endfor %}
                </ul>

                <!-- Controls -->
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
            <!-- End Carousel -->
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="sections news">

        <div class="container">

            <div class="row">
                {% for item in news %}
                    <div class="news_item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        {% if item.text != "" %}
                            <a href="{{ path('volley_face_post',{'post_id': item.id}) }}"><img class="img-responsive"
                                                                                               src="{{ item.getWebPath }}"></a>
                        {% else %}
                            <img class="img-responsive" src="{{ item.getWebPath }}">
                        {% endif %}
                        {% if item.text != "" %}
                            <a href="{{ path('volley_face_post',{'post_id': item.id}) }}"><h3>{{ item.title }}</h3></a>
                        {% else %}
                            <h3>{{ item.title }}</h3>
                        {% endif %}
                        {% autoescape %}
                        {{ item.content|raw }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->

            <hr>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}