{% extends '::layout.html.twig' %}

{% block content %}

    <div class="section">

        <div class="container">
            <table>
                <thead>
                <th>Місце</th>
                <th>Команда</th>
                <th>Матчі</th>
                <th>Перемоги</th>
                <th>Поразки</th>
                <th>Очки</th>
                </thead>
                {% for row in table %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row['team'].name }}</td>
                        <td>{{ row.games }}</td>
                        <td>{{ row.win }}</td>
                        <td>{{ row.loss }}</td>
                        <td>{{ row.points }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>

{% endblock %}
