{% extends '::layout.html.twig' %}

{% block carousel %}

    <div class="section section-main">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    {% include 'VolleyFaceBundle:Default/includes:thumb.html.twig' with {'slide': slides[0], thumbnail: 'main_pic'} %}
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 thumb-container">
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyFaceBundle:Default/includes:thumb.html.twig' with {'slide': slides[1], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyFaceBundle:Default/includes:thumb.html.twig' with {'slide': slides[2], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyFaceBundle:Default/includes:thumb.html.twig' with {'slide': slides[3], thumbnail: 'main_thumb'} %}
                                </div>
                                <div class="col-lg-6 thumb">
                                    {% include 'VolleyFaceBundle:Default/includes:thumb.html.twig' with {'slide': slides[4], thumbnail: 'main_thumb'} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block content %}

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=868321236586850";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="sections">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <div class="row">

                        {% for item in news %}
                            <div class="col-lg-6">
                                {% include 'VolleyFaceBundle:Default/includes:post.html.twig' with {'loop': loop} %}
                            </div>
                            {% if loop.index is even %}
                                <div style="clear: both"></div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="pagination-container">
                            {{ knp_pagination_render(news) }}
                        </div>
                    </div>
                    <div class="row">
                        <p id="google-adsende-banner" style="height: 100px; width: 100%;">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- AdsBlockForPost -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-9185300483138228"
                                 data-ad-slot="2365888996"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </p>
                    </div>
                </div>

                {#<div class="col-lg-6">#}
                {#<div class="row">#}
                {#<div class="col-lg-6">#}
                {#{{ render(controller('VolleyStatBundle:Tournament:table',{'seasonId':1, 'tournamentId': 1})) }}#}
                {#{{ render(controller('VolleyStatBundle:Tournament:table',{'seasonId':2, 'tournamentId': 2})) }}#}
                {#</div>#}
                {#<div class="col-lg-6">#}
                {#{% include 'VolleyFaceBundle:Default/includes:fb.html.twig' with {} %}#}
                {#{% include 'VolleyFaceBundle:Default/includes:vk.html.twig' with {} %}#}
                {#<p></p>#}
                {#<a href="{{ path('volley_face_mikasa_vls300') }}" title="Mikasa VLS300 мяч для пляжного волейбола">#}
                {#<div class="row">#}
                {#<div class="col-lg-12 col-md-12 col-sm-12">#}
                {#<p>#}
                {#<img alt="Mikasa VLS300 мяч для пляжного волейбола" class="img-responsive"#}
                {#src="{{ asset("uploads/products/mikasa-vls300/VLS300.png") }}">#}
                {#</p>#}
                {#<p class="text-center">Скоро лето! <b>volleyball.ua</b> начинает продажу мячей для пляжного волейбола#}
                {#<b>Mikasa VLS300</b>.#}
                {#</p>#}
                {#</div>#}
                {#</div>#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

{% endblock %}