{% extends '::layout.html.twig' %}

{% set page_image = asset("bundles/volleyface/images/market/mikasavls300-770.jpg") %}
{% set title = "Mikasa VLS300 - купить мяч для пляжного волейбола" %}
{% set meta_keywords = "мяч, mikasa, vls300, купить, волейбол, пляжний, Україна" %}
{% set meta_description = "Mikasa VLS 300 мячи для пляжного волейбола от volleyball.ua. Купить в Украине. Цена 1850 гривен." %}

{% block content %}

    <div class="section post">

        <div class="container">

            <div class="row">
                <div class="col col-lg-8 col-md-12 col-sm-12">
                    <img src="{{ asset("bundles/volleyface/images/market/mikasavls300-770.jpg") }}" width="100%" height="auto" alt="Mikasa VLS300 - купить мяч для пляжного волейбола">
                </div>
                <div class="col col-lg-8 col-md-12 col-sm-12">
                    <h1>Mikasa VLS300 - купить мяч для пляжного волейбола</h1>

                    {% if (submit) %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Спасибо что обратились к нам! Мы скоро свяжемся с вами, если вы правильно указали контактные данные.
                        </div>
                        {#<div class="alert alert-success" role="alert"></div>#}
                    {% endif %}

                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <p><b>volleyball.ua</b> начинает продажу мячей для пляжного волейбола <b>Mikasa
                                    VLS300</b>. Одобреный
                                FIVB мяч обьединяет в себе все последние технологии для удобной игры и превосходной
                                управляемости. Mikasa VLS300 официальный мяч Олимпийских Игр и всех профессиональных
                                пляжных
                                соревнований Мирового Тура.</p>
                            <p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-lg-8 col-md-12 col-sm-12">
                            <h2>Характеристики:</h2>
                            <ul style="list-style: circle; list-style-position: inside;">
                                <li>Официальный мяч FIVB</li>
                                <li>Мягкое комбинированное покрытие</li>
                                <li>Улучшеная управляемость при передаче и ударе</li>
                                <li>Двойная тканная основа для лучшего поддержания формы</li>
                                <li>Сделан из 10 соединенных фигурных панелей, для хорошей узнаваемости</li>
                                <li>Улучшеная водостойкость</li>
                                <li>Размер 5</li>
                            </ul>
                            </p>
                        </div>
                        <div class="col col-lg-4 hidden-md hidden-sm hidden-xs">
                            <img alt="{{ title }}" class="img-responsive"
                                 src="{{ asset("bundles/volleyface/images/market/VLS300.png")}}">
                        </div>
                    </div>

                    <h2>Цена: 1850 грн.</h2></p>

                    <p>
                        {{ render(controller('VolleyFaceBundle:Purchase:buy',{ })) }}
                    </p>

                    <p>
{#                    <h2>Купить мяч в <a href="https://vk.com/volleyballua?w=product-24019026_198041%2Fquery"#}
{#                                        target="_blank">vk.com</a></h2>#}
                    </p>

                    <p>
                    <h2>Mikasa VLS300 в разрезе</h2>
                    </p>

                    <p>
                        <img alt="{{ title }}" class="img-responsive"
                             src="{{ asset('uploads/products/mikasa-vls300/mikasa-vls300.png') }}">
                    </p>

                    <p>
                    <h2>Промо-видео Mikasa VLS300</h2>
                    </p>
                    {#<p>#}
                        {#<iframe width="750" height="422" src="https://www.youtube.com/embed/q_pIC8h7K-k" frameborder="0"#}
                                {#allowfullscreen></iframe>#}
                    {#</p>#}

                    <p>
                        <iframe width="750" height="422" src="https://www.youtube.com/embed/P8qhJJdLu7w" frameborder="0"
                                allowfullscreen></iframe>
                    </p>

                    <p>С вопросами обращайтесь на email <a href="mailto: volleyball.ua@gmail.com">volleyball.ua@gmail.com</a>.
                    </p>

                    {% include '@VolleyFace/Social/uptolike.html.twig' %}

                    <br/>
                </div>
                <div class="col-lg-1 col-md-0 col-sm-0"></div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    {#{% include 'VolleyFaceBundle:Default/includes:fb.html.twig' with {} %}#}
                    {#{% include 'VolleyFaceBundle:Default/includes:vk.html.twig' with {} %}#}
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->



{% endblock %}
