{% extends '::layout.html.twig' %}

{% block content %}

    <div class="section" id="player">
        <div class="container">
            <div class="row">
                <h1>{{ player.lastName }} {{ player.firstName }} {{ player.middleName }}</h1>
            </div>
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-4">
                    <img class="photo" src="{{ player.getWebPath }}" alt="Команда з пляжного волейболу ">
                </div>
                <div class="col col-lg-8 col-md-8 col-sm-8">
                    <div class="row player_data">
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="player_label">
                                Дата народження:
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <div class="player_value">
                                {{ player.birthDate|date("d-m-Y") }}
                            </div>
                        </div>
                    </div>
                    <div class="row player_data">
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="player_label">
                                Зріст:
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <div class="player_value">
                                {{ player.height }} см
                            </div>
                        </div>
                    </div>
                    <div class="row player_data">
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="player_label">
                                Вага:
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <div class="player_value">
                                {{ player.weight }} кг
                            </div>
                        </div>
                    </div>
                    {#<div class="row player_data">#}
                        {#<div class="col col-lg-5 col-md-5 col-sm-5">#}
                            {#<div class="player_label">#}
                                {#Висота удару:#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-lg-7 col-md-7 col-sm-7">#}
                            {#<div class="player_value">#}
                                {#{{ player.spike }} см#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row player_data">#}
                        {#<div class="col col-lg-5 col-md-5 col-sm-5">#}
                            {#<div class="player_label">#}
                                {#Висота блоку:#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-lg-7 col-md-7 col-sm-7">#}
                            {#<div class="player_value">#}
                                {#{{ player.block }} см#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row player_data">#}
                        {#<div class="col col-lg-5 col-md-5 col-sm-5">#}
                            {#<div class="player_label">#}
                                {#Національність:#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col col-lg-7 col-md-7 col-sm-7">#}
                            {#<div class="player_value">#}
                                {#{{ player.nationality }}#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    <div class="row player_data">
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="player_label">
                                Позиція:
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <div class="player_value">
                                {{ player.position }}
                            </div>
                        </div>
                    </div>
                    <div class="row player_data">
                        <div class="col col-lg-5 col-md-5 col-sm-5">
                            <div class="player_label">
                                Спортивне звання:
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-7 col-sm-7">
                            <div class="player_value">
                                {{ player.grade }}
                            </div>
                        </div>
                    </div>
                    <div class="row player_data">
                        <div class="col col-lg-12 col-md-12 col-sm-12">
                            <div class="player_value">
                                {{ player.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}