{% extends '::layout.html.twig' %}

{% set page_image = app.request.getSchemeAndHttpHost() ~ post.getWebPath %}
{% set title = post.title %}
{% set meta_keywords = post.metakey %}
{% set meta_description = post.metadescr %}

{% block content %}

    <div class="section post">

        <div class="container">

            <div class="pull-left" style="width: 760px;">
                <a href="{{ path('volley_face_post',{'category_slug': post.category.slug, 'post_slug': post.slug}) }}">
                    <h1>{{ post.title }}</h1>
                </a>
                <img alt="{{ title ~ ' ' ~ meta_keywords }}" class="img-responsive" src="{{ post.getWebPath }}" alt="{{ post.title }}">

                <span class="news-info">{{ post.created|date('d/m/Y H:i') ~ ' | ' ~ post.createdBy }}</span>
                <p>
                    <b>{{ post.content|raw }}</b>
                </p>
                <p>
                    {% autoescape %}
                        {{ post.text|raw }}
                    {% endautoescape %}
                </p>

                {% include '@VolleyFace/Social/uptolike.html.twig' %}

                <br/>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->



{% endblock %}