{% extends '::layout.html.twig' %}

{% block content %}

    <div class="section">

        <div class="container">
            <table>
                <thead>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Games
                    </th>
                    <th>
                        Win
                    </th>
                    <th>
                        Loss
                    </th>
                    <th>
                        Points
                    </th>
                </thead>
        {% for row in table %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ row['team'].name }}
                    </td>

                    <td>
                        {{ row.games }}
                    </td>
                    <td>
                        {{ row.win }}
                    </td>
                    <td>
                        {{ row.loss }}
                    </td>
                    <td>
                        {{ row.points }}
                    </td>
                </tr>
        {% endfor %}
            </table>

        </div>

    </div>

{% endblock %}
