{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Team edit</h1>

    {% for team_season in entity.teamsSeasons %}
        <p><a href="{{ path('stat_team_season_edit',{'id': team_season.team.id}) }}">{{ team_season }}<a></p>
    {% endfor %}
    <p><a class="btn btn-default" href="{{ path('stat_team_season_new') }}">Add team season</a></p>

    {{ form(edit_form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('stat_team') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}
