{% extends '::admin.html.twig' %}

{% block body -%}
<h1>Team list</h1>

<div class="row">
    <div class="col col-lg-12">
        <form name="volley_facebundle_filter" method="post" action="" class="form-inline">
            <div class="form-group">
                <label for="volley_facebundle_filter_search">Search:</label>
                {{ form_widget(filter.search, {'attr': {'placeholder': ''}}) }}
            </div>
            <button class="btn btn-primary" name="apply" type="submit" id="module_submit" iconclass="fa fa-filter"
                    value="1"><i class="fa fa-filter"></i> Filter
            </button>
            <button class="btn btn-danger" name="reset" type="submit" id="module_submit" iconclass="fa fa-filter"
                    value="1"><i class="fa fa-filter"></i> Reset
            </button>
            {{ form_rest(filter) }}
        </form>
    </div>
</div>

<div class="pull-right">
    <a type="button"
       class="btn btn-success" href="{{ path('stat_team_new') }}">
        Create a new entry
    </a>
    <div>{{ form(update_slug_form) }}</div>
    <div>{{ form(update_location_form) }}</div>
</div>
<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table table-striped table-hover .table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stat_team_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.shortName }}</td>
                <td>{{ entity.city }}</td>
                <td class="col-md-2 col-lg-2 col-sm-2">
                    <div class="btn-group pull-right" role="group" aria-label="">
                        {#<a href="{{ path('stat_team_show', { 'id': entity.id }) }}" type="button"#}
                        {#class="btn btn-default">show</a>#}
                        <a href="{{ path('stat_team_edit', { 'id': entity.id }) }}" type="button"
                           class="btn btn-default">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="100">
                <div class="navigation">
                    {{ knp_pagination_render(entities) }}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    {% endblock %}
