{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>School edit</h1>

    {#{% for school_person in entity.schoolsSeasons %}#}
        {#<p><a href="{{ path('stat_school_season_edit',{'id': school_season.id}) }}">{{ school_season }}</a></p>#}
    {#{% endfor %}#}
    {#<p><a class="btn btn-default" href="{{ path('stat_school_season_new',{'school_id': entity.id}) }}">Add school season</a></p>#}

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.slug, { 'attr': {'disabled': 'disabled'}}) }}
    {{ form_row(edit_form.shortName) }}
    {{ form_row(edit_form.city) }}
    {{ form_row(edit_form.country) }}

    {% if entity.image %}<a href="{{ entity.getWebPath }}" target="_blank"><img style="width: 100px; height: auto;" src="{{ entity.getWebPath }}"></a>{% endif %}
    {{ form_row(edit_form.image) }}
    {% if entity.logoImage %}<a href="{{ entity.getLogoWebPath }}" target="_blank"><img style="width: 100px; height: auto;" src="{{ entity.getLogoWebPath }}"></a>{% endif %}
    {{ form_row(edit_form.logoImage) }}
    {% if entity.hallImage %}<a href="{{ entity.getHallWebPath }}" target="_blank"><img style="width: 100px; height: auto;" src="{{ entity.getHallWebPath }}"></a>{% endif %}
    {{ form_row(edit_form.hallImage) }}

    {{ form_end(edit_form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('stat_school') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}
