<footer class="footer">
    <section class="bottom-links">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'ukraine'}) }}">Волейбол України</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-superleague'}) }}">Українська Суперліга</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-high-league'}) }}">Українська Вища Ліга</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-cup'}) }}">Кубок України</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'european-cups'}) }}">Європейські Кубки</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'champions-league'}) }}">Ліга Чемпіонів</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'cev-cup'}) }}">Кубок ЄКВ</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'challenge-cup'}) }}">Кубок Виклику</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'international-competitions'}) }}">Міжнародні змагання</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'olympic-games'}) }}">Олімпійські Ігри</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'world-cup'}) }}">Чемпіонат Світу</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'european-championship'}) }}">Чемпіонат Європи</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'club-world-championship'}) }}">Клубний Чемпіонат Світу</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'international-universiade'}) }}">Всесвiтня Унiверсiaда</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'national-leagues'}) }}">Національні
                                    Ліги</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'russia'}) }}">Росія</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'poland'}) }}">Польша</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'italy'}) }}">Італія</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'turkey'}) }}">Турція</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'france'}) }}">Франція</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперліга. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 45, 'tournament_id': 1}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 31, 'tournament_id': 1}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 21, 'tournament_id': 1}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 3, 'tournament_id': 1}) }}">Сезон 2016-2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 1, 'tournament_id': 1}) }}">Сезон 2015-2016</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперліга. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 39, 'tournament_id': 2}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 32, 'tournament_id': 2}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 22, 'tournament_id': 2}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 4, 'tournament_id': 2}) }}">Сезон 2016-2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 2, 'tournament_id': 2}) }}">Сезон 2015-2016</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Вища ліга. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 43, 'tournament_id': 3}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 37, 'tournament_id': 3}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 23, 'tournament_id': 3}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 5, 'tournament_id': 3}) }}">Сезон 2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Вища ліга. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 44, 'tournament_id': 4}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 38, 'tournament_id': 4}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 24, 'tournament_id': 4}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 6, 'tournament_id': 4}) }}">Сезон 2016-2017</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Кубок. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 40, 'tournament_id': 11}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 35, 'tournament_id': 11}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 25, 'tournament_id': 11}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 13, 'tournament_id': 11}) }}">Сезон 2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Кубок. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 42, 'tournament_id': 11}) }}">Сезон 2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 36, 'tournament_id': 12}) }}">Сезон 2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 26, 'tournament_id': 12}) }}">Сезон 2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 14, 'tournament_id': 12}) }}">Сезон 2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперкубок. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 33, 'tournament_id': 21}) }}">Суперкубок 2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 29, 'tournament_id': 21}) }}">Суперкубок 2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперкубок. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 34, 'tournament_id': 22}) }}">Суперкубок 2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 30, 'tournament_id': 22}) }}">Суперкубок 2017</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'beach-volleyball'}) }}">Пляжний волейбол</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'volieibol-na-snighu'}) }}">Волейбол на снігу</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'kanal-kostiantina-riabukhi'}) }}">Канал Костянтина Рябухи</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'amateur-volleyball'}) }}">Аматорський волейбол</a></h4></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'childrens-volleyball'}) }}">Дитячий волейбол</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul></ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul></ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li class=""><h4><a href="{{ path("volley_face_contacts") }}">{% trans %}Contact Us{% endtrans %}</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_advertising") }}">{% trans %}Advertising{% endtrans %}</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul></ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul></ul>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12 copyright">
                    <img alt="volleyball.ua &copy; 2015-2019 - Волейбол в Україні" src="{{ app.request.getSchemeAndHttpHost() }}/bundles/volleyface/images/vu-gray.png">
                    volleyball.ua &copy; 2015-2019 - Волейбол в Україні
                </div>
                <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-5 col-xs-12 text-right">
                    <div class="social-icons pull-right">
                        <a href="https://www.facebook.com/volleyballua" target="_blank"
                           class="social-icon icon-facebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.t.me/volleyballua" target="_blank"
                           class="social-icon icon-telegram" title="Telegram">
                            <i class="fa fa-telegram"></i>
                        </a>
                        <a href="https://vk.com/volleyballua" target="_blank" class="social-icon icon-vk" title="VK">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="https://twitter.com/volleyballua" target="_blank" class="social-icon icon-twitter"
                           title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com/volleyball.ua" target="_blank" class="social-icon icon-twitter"
                           title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://plus.google.com/+VolleyballUa" target="_blank"
                           class="social-icon icon-google-plus" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <!--LiveInternet counter-->
                        <script type="text/javascript"><!--
                          document.write("<a href='//www.liveinternet.ru/click' " +
                            "target=_blank><img src='//counter.yadro.ru/hit?t50.4;r" +
                            escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                              ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                              screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                            ";" + Math.random() +
                            "' alt='' title='LiveInternet' " +
                            "border='0' width='31' height='31'><\/a>")
                          //--></script><!--/LiveInternet-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
