<header id="header" role="banner">
    <div class="collapse navbar-white" id="header-search-form">
        <div class="container">
            <form class="navbar-form animated fadeInDown" action="{{ path('volley_face_search') }}">
                <input type="search" id="s" name="s" value="{{ app.request.get('s','') }}" class="form-control" placeholder="{% trans %}search{% endtrans %}...">
                {#<button type="submit" class="" title="Search"><i class="fa fa-search"></i></button>#}
            </form>
        </div>
    </div>
    <nav class="navbar navbar-white animated-dropdown ttb-dropdown" role="navigation">

        <div class="navbar-inner sticky-menu">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle btn-circle pull-right" data-toggle="collapse" data-target="#main-navbar-container" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{{ path('volley_web_homepage') }}" title="Волейбол в Україні - volleyball.ua"></a>

                    <button type="button" class="navbar-btn btn-icon btn-circle pull-right last visible-sm visible-xs search-button-mobile" data-toggle="collapse" data-target="#header-search-form"><i class="fa fa-search"></i></button>

                </div>

                <div class="navbar-collapse collapse" id="main-navbar-container" aria-expanded="true">
                    <ul class="nav navbar-nav">
                        <li class="dropdown megamenu-container">
                            <a href="{{ path("volley_face_blog",{'category_slug': 'news'}) }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans %}News{% endtrans %}<span class="angle"></span></a>
                            <div class="dropdown-menu megamenu" role="menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'ukraine'}) }}" class="megamenu-title">Волейбол України</a>
                                            <ul>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-superleague'}) }}">Українська Суперліга</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-high-league'}) }}">Українська Вища Ліга</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-cup'}) }}">Кубок України</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'european-cups'}) }}" class="megamenu-title">Європейські Кубки</a>
                                            <ul>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'champions-league'}) }}">Ліга Чемпіонів</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'cev-cup'}) }}">Кубок ЄКВ</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'challenge-cup'}) }}">Кубок Виклику</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'international-competitions'}) }}" class="megamenu-title">Міжнародні змагання</a>
                                            <ul>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'olympic-games'}) }}">Олімпійські Ігри</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'world-cup'}) }}">Чемпіонат Світу</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'european-championship'}) }}">Чемпіонат Європи</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'club-world-championship'}) }}">Клубний Чемпіонат Світу</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'national-leagues'}) }}" class="megamenu-title">Національні Ліги</a>
                                            <ul>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'russia'}) }}">Росія</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'poland'}) }}">Польша</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'italy'}) }}">Італія</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'turkey'}) }}">Турція</a></li>
                                                <li><a href="{{ path("volley_face_blog",{'category_slug': 'france'}) }}">Франція</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'beach-volleyball'}) }}" class="megamenu-title">Пляжний волейбол</a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'amateur-volleyball'}) }}" class="megamenu-title">Аматорський волейбол</a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="{{ path("volley_face_blog",{'category_slug': 'childrens-volleyball'}) }}" class="megamenu-title">Дитячий волейбол</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown megamenu-container">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans %}Tournaments{% endtrans %}<span class="angle"></span></a>
                            <div class="dropdown-menu megamenu" role="menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" class="megamenu-title">Україна. Суперліга. Чоловіки</a>
                                            <ul>
                                                <li><a href="{{ path('stat_tournament_page', {'season_id': 1, 'tournament_id': 1}) }}">Сезон 2015-2016</a></li>
                                                <li><a href="{{ path('stat_tournament_page', {'season_id': 3, 'tournament_id': 1}) }}">Сезон 2016-2017</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" class="megamenu-title">Україна. Суперліга. Жінки</a>
                                            <ul>
                                                <li><a href="{{ path('stat_tournament_page', {'season_id': 2, 'tournament_id': 2}) }}">Сезон 2015-2016</a></li>
                                                <li><a href="{{ path('stat_tournament_page', {'season_id': 4, 'tournament_id': 2}) }}">Сезон 2016-2017</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class=""><a href="{{ path("volley_face_contacts") }}">{% trans %}Contact Us{% endtrans %}</a></li>
                    </ul>

                    <button type="button" class="navbar-btn btn-icon btn-circle navbar-right last  hidden-sm hidden-xs search-button" data-toggle="collapse" data-target="#header-search-form"><i class="fa fa-search"></i></button>

                </div>
            </div>
        </div>
    </nav>
</header>