{% set setting = getSetting() %}
{% set title = title|default(setting.title)|default('Волейбол в Україні - все про волейбол на сайті volleyball.ua') ~ "" %}
{% set title = title ~ page|default('') %}
{% set pageNumber = pageNumber|default(0) %}
{% set host = app.request.getSchemeAndHttpHost() %}
{% set route = app.request.attributes.get('_route') %}
{% if route is not empty %}{% set full_url = url(route, app.request.attributes.get('_route_params')) %}{% endif %}
{% set page_image = page_image|default(app.request.getSchemeAndHttpHost() ~ asset('bundles/volleyface/images/sharing_image.jpeg')) %}
{% set type = type|default('website') %}
{% set meta_keywords = meta_keywords|default(setting.keywords)|default('волейбол, волейбол в Україні, волейбол в Украине, новини волейболу, новости волейбола, трансляції волейбольних матчів, трансляции волейбольмых матчей, пляжний волейбол, розклад, результати, чемпіонат України, аматорський волейбол, дитячий волейбол') ~ (pageNumber > 1 ?', сторінка ' ~ pageNumber : '') %}
{% set meta_description = meta_description|default(setting.description)|default('Новини волейболу в Україні і у світі, розклад, результати та трансляції волейбольних матчів, ексклюзивні інтерв\'ю, все найцікавіше на сайті volleyball.ua') ~ page|default('') %}

{% if canonical_options is defined %}
    {% set items = canonical_options.items %}
    {% set route = canonical_options.route %}
    {% set route_pages = canonical_options.route_pages %}
    {% set route_params = canonical_options.route_params %}

    {% set pageNumber = items.currentPageNumber %}
    {% set pageTotal = items.pageCount %}

    {% set _route = app.request.attributes.get('_route') %}
    {% set _route_params = app.request.attributes.get('_route_params')|default({}) %}
    {% set canonical = url(_route, _route_params) %}

    {% if pageNumber < pageTotal %}
        {% set next = url(route_pages, route_params|merge({'page': pageNumber + 1})) %}
    {% endif %}
    {% if pageNumber > 2 %}
        {% set prev = url(route_pages, route_params|merge({'page': pageNumber - 1})) %}
    {% endif %}
    {% if pageNumber == 2 %}
        {% set prev = url(route, route_params|merge({'page': pageNumber - 1})) %}
    {% endif %}
{% endif %}

{% set canonical = canonical|default(full_url) %}

<!DOCTYPE html>
<html lang="en" class="js no-touch csstransitions skrollr skrollr-desktop" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ gtm_id }}');</script>
    <!-- End Google Tag Manager -->

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <meta name="keywords" content="{{ meta_keywords }}"/>
        <meta name="description" content="{{ meta_description }}"/>

        <meta name="application-name" content="volleyball.ua">
        <meta name="application-url" content="http://www.volleyball.ua/">
        <meta name="author" content="volleyball.ua@gmail.com">

        <link rel="shortcut icon" type="image/ico" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        {#<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-57x57.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-60x60.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-72x72.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-76x76.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-114x114.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-120x120.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-144x144.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-152x152.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-180x180.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/volleyface/images/favicons/android-icon-192x192.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/volleyface/images/favicons/favicon-32x32.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/volleyface/images/favicons/favicon-96x96.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/volleyface/images/favicons/favicon-16x16.png') }}">#}
        {#<link rel="manifest" href="{{ asset('bundles/volleyface/images/favicons/manifest.json') }}">#}
        {#<meta name="msapplication-TileColor" content="#1c1b29">#}
        {#<meta name="msapplication-TileImage" content="{{ asset('bundles/volleyface/images/favicons/ms-icon-144x144.png') }}">#}
        {#<meta name="theme-color" content="#1c1b29">#}

        <!-- Fonts -->
        {#<link href="{{ asset('bundles/volleyface/bower_components/components-font-awesome/css/font-awesome.min.css') }}"#}
              {#rel="stylesheet" type="text/css">#}

        {% block facebook_meta %}
            <meta property="og:site_name" content="{{ setting.siteName|default('Волейбол в Україні - volleyball.ua') }}"/>
            <meta property="og:title" content="{{ title }}"/>
            <meta property="og:url" content="{{ full_url }}"/>
            <meta property="og:image" content="{{ page_image }}"/>
            <meta property="og:image:url" content="{{ page_image }}"/>
            <meta property="og:image:type" content="image/jpeg"/>
            <meta property="og:image:width" content="760"/>
            <meta property="og:image:height" content="400"/>
            <meta property="og:type" content="{{ type }}"/>
            <meta property="fb:app_id" content="{{ fb_app_id }}"/>
            <meta property="og:locale" content="uk_UA"/>
            <meta property="og:locale:alternate" content="ru_RU"/>
        {% endblock %}

        {% block twitter_meta %}
            <meta name="twitter:site" content="{{ setting.siteName|default('Волейбол в Україні - volleyball.ua') }}"/>
            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:title" content="{{ title }}"/>
            <meta name="twitter:url" content="{{ full_url }}"/>
            <meta name="twitter:description" content="{{ meta_description }}"/>
            <meta name="twitter:image" content="{{ page_image }}"/>
        {% endblock %}

        {% block vk_meta %}
            <link rel="image_src" href="{{ page_image }}">
        {% endblock %}
    {% endblock %}

    <title>{{ title }}</title>

    <link rel="canonical" href="{{canonical}}" />
    {% if prev is defined %}
        <link rel="prev" href="{{prev}}" />
    {% endif %}
    {% if next is defined %}
        <link rel="next" href="{{next}}" />
    {% endif %}

    <!-- Bootstrap Core CSS -->
    {% block styles %}
        <link href="{{ asset('css/style.css') }}?v=19" rel="stylesheet" type='text/css'>
        <!--[if lt IE 9]>
        <link href="{{ asset('css/style_ie.css') }}" rel="stylesheet" type='text/css'>
        <![endif]-->
    {% endblock %}

    {% block head_scripts %}
        {#<script src="{{ asset('js/script_header.js') }}?v=18" type="text/javascript"></script>#}
        <!-- IE8 support for HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/script_ie.js') }}" type="text/javascript" async defer></script>
        <![endif]-->

        <!-- Advert page Level advertising -->
        {% include '@VolleyFace/Default/includes/ads-page-level.twig' with {} %}
    {% endblock %}

    <!-- Google Analytics - OLD WAY -->
    {#<script>#}
        {#(function (i, s, o, g, r, a, m) {#}
            {#i['GoogleAnalyticsObject'] = r;#}
            {#i[r] = i[r] || function () {#}
                    {#(i[r].q = i[r].q || []).push(arguments)#}
                {#}, i[r].l = 1 * new Date();#}
            {#a = s.createElement(o),#}
                {#m = s.getElementsByTagName(o)[0];#}
            {#a.async = 1;#}
            {#a.src = g;#}
            {#m.parentNode.insertBefore(a, m)#}
        {#})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');#}

        {#ga('create', '{{ ga_id }}', 'auto');#}
        {#ga('send', 'pageview');#}
    {#</script>#}
    <!-- Google Analytics - OLD WAY -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '{{ fb_pixel_id }}');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id={{ fb_pixel_id }}&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<article>
{% include('::header.html.twig') %}

{#{% block carousel %}#}
{#{% endblock %}#}

{% block content %}
{% endblock %}

{% include('::footer.html.twig') %}
</article>
<!-- /.container -->

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/script_footer.js') }}?v=19"></script>

    {#<script type="text/javascript" src="{{ asset('js/custom/modal_social.js') }}?v=18" async defer></script>#}

    <script>
      jQuery("#birthdayCarousel").carousel({
        interval: 5000
      });
    </script>
{% endblock %}

<!-- Modal social -->
{#{% include 'VolleyFaceBundle:Default/includes:modal_social.html.twig' with {} %}#}

<!-- Modal advertising -->
{#{% include 'VolleyFaceBundle:Default/includes:onmediads.html.twig' with {} %}#}

<!-- advertising UBMg33-DXy7uCqmtQAyJcmENzyQrQHVs9PkgbCNwnLbMaCxl0WDr1zGdUaPw3aIPOBv_s_xYPnxJfPl7oN8ofg==-->
<script data-cfasync="false"  id="clevernt" type="text/javascript">
  (function (document, window) {
    var c = document.createElement("script");
    c.type = "text/javascript"; c.async = !0; c.id = "CleverNTLoader41130";  c.setAttribute("data-target",window.name); c.setAttribute("data-callback","put-your-callback-macro-here");
    c.src = "//clevernt.com/scripts/bf4bbd414f98298a423bfa55d3a9a0e4.min.js?20200126=" + Math.floor((new Date).getTime());
    var a = !1;
    try {
      a = parent.document.getElementsByTagName("script")[0] || document.getElementsByTagName("script")[0];
    } catch (e) {
      a = !1;
    }
    a || ( a = document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]);
    a.parentNode.insertBefore(c, a);
  })(document, window);
</script>
<!-- end advertising -->

</body>
</html>
