{% set setting = getSetting() %}
{% set title = title|default(setting.title)|default('Волейбол в Україні - все про волейбол на сайті volleyball.ua') ~ "" %}
{% set title = title ~ page|default('') %}
{% set pageNumber = pageNumber|default(0) %}
{% set host = app.request.getSchemeAndHttpHost() %}
{% set route = app.request.attributes.get('_route') %}
{% if route is not empty %}{% set full_url = url(route, app.request.attributes.get('_route_params')) %}{% endif %}
{% set page_image = page_image|default(app.request.getSchemeAndHttpHost() ~ asset('bundles/volleyface/images/sharing_image.jpeg')) %}
{% set type = type|default('website') %}
{% set meta_keywords = meta_keywords|default(setting.keywords)|default('волейбол, волейбол в Україні, волейбол в Украине, новини волейболу, новости волейбола, трансляції волейбольних матчів, трансляции волейбольмых матчей, пляжний волейбол, розклад, результати, чемпіонат України, аматорський волейбол, дитячий волейбол') ~ (pageNumber > 1 ?', сторінка ' ~ pageNumber : '') %}
{% set meta_description = meta_description|default(setting.description)|default('Новини волейболу в Україні і у світі, розклад, результати та трансляції волейбольних матчів, ексклюзивні інтерв\'ю, все найцікавіше на сайті volleyball.ua') ~ page|default('') %}
<!DOCTYPE html>
<html lang="en" class="js no-touch csstransitions skrollr skrollr-desktop" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ gtm_id }}');</script>
    <!-- End Google Tag Manager -->

    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <meta name="keywords" content="{{ meta_keywords }}"/>
        <meta name="description" content="{{ meta_description }}"/>

        <meta name="application-name" content="volleyball.ua">
        <meta name="application-url" content="http://www.volleyball.ua/">
        <meta name="author" content="volleyball.ua@gmail.com">

        <link rel="shortcut icon" type="image/ico" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/volleyface/images/favicon.ico') }}">
        {#<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-57x57.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-60x60.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-72x72.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-76x76.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-114x114.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-120x120.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-144x144.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-152x152.png') }}">#}
        {#<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/volleyface/images/favicons/apple-icon-180x180.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/volleyface/images/favicons/android-icon-192x192.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/volleyface/images/favicons/favicon-32x32.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/volleyface/images/favicons/favicon-96x96.png') }}">#}
        {#<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/volleyface/images/favicons/favicon-16x16.png') }}">#}
        {#<link rel="manifest" href="{{ asset('bundles/volleyface/images/favicons/manifest.json') }}">#}
        {#<meta name="msapplication-TileColor" content="#1c1b29">#}
        {#<meta name="msapplication-TileImage" content="{{ asset('bundles/volleyface/images/favicons/ms-icon-144x144.png') }}">#}
        {#<meta name="theme-color" content="#1c1b29">#}

        <!-- Fonts -->
        {#<link href="{{ asset('bundles/volleyface/bower_components/components-font-awesome/css/font-awesome.min.css') }}"#}
              {#rel="stylesheet" type="text/css">#}

        {% block facebook_meta %}
            <meta property="og:site_name" content="{{ setting.siteName|default('Волейбол в Україні - volleyball.ua') }}"/>
            <meta property="og:title" content="{{ title }}"/>
            <meta property="og:url" content="{{ full_url }}"/>
            <meta property="og:image" content="{{ page_image }}"/>
            <meta property="og:image:url" content="{{ page_image }}"/>
            <meta property="og:image:type" content="image/jpeg"/>
            <meta property="og:image:width" content="760"/>
            <meta property="og:image:height" content="400"/>
            <meta property="og:type" content="{{ type }}"/>
            <meta property="fb:app_id" content="{{ fb_app_id }}"/>
            <meta property="og:locale" content="uk_UA"/>
            <meta property="og:locale:alternate" content="ru_RU"/>
        {% endblock %}

        {% block twitter_meta %}
            <meta name="twitter:site" content="{{ setting.siteName|default('Волейбол в Україні - volleyball.ua') }}"/>
            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:title" content="{{ title }}"/>
            <meta name="twitter:url" content="{{ full_url }}"/>
            <meta name="twitter:description" content="{{ meta_description }}"/>
            <meta name="twitter:image" content="{{ page_image }}"/>
        {% endblock %}

        {% block vk_meta %}
            <link rel="image_src" href="{{ page_image }}">
        {% endblock %}
    {% endblock %}

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    {% block styles %}
        <link href="{{ asset('css/style.css') }}?v=18" rel="stylesheet" type='text/css'>
        <!--[if lt IE 9]>
        <link href="{{ asset(' css/style_ie.css') }}" rel="stylesheet" type='text/css'>
        <![endif]-->
    {% endblock %}

    {% block head_scripts %}
        {#<script src="{{ asset('js/script_header.js') }}?v=18" type="text/javascript"></script>#}
        <!-- IE8 support for HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/script_ie.js') }}" type="text/javascript" async defer></script>
        <![endif]-->

        <!-- Advert page Level advertising -->
        {% include '@VolleyFace/Default/includes/ads-page-level.twig' with {} %}
    {% endblock %}

    <!-- Google Analytics - OLD WAY -->
    {#<script>#}
        {#(function (i, s, o, g, r, a, m) {#}
            {#i['GoogleAnalyticsObject'] = r;#}
            {#i[r] = i[r] || function () {#}
                    {#(i[r].q = i[r].q || []).push(arguments)#}
                {#}, i[r].l = 1 * new Date();#}
            {#a = s.createElement(o),#}
                {#m = s.getElementsByTagName(o)[0];#}
            {#a.async = 1;#}
            {#a.src = g;#}
            {#m.parentNode.insertBefore(a, m)#}
        {#})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');#}

        {#ga('create', '{{ ga_id }}', 'auto');#}
        {#ga('send', 'pageview');#}
    {#</script>#}
    <!-- Google Analytics - OLD WAY -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '{{ fb_pixel_id }}');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id={{ fb_pixel_id }}&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<article>
{% include('::header.html.twig') %}

{#{% block carousel %}#}
{#{% endblock %}#}

{% block content %}
{% endblock %}


<footer class="footer">
    <section class="bottom-links">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'ukraine'}) }}">Волейбол України</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-superleague'}) }}">Українська Суперліга</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-high-league'}) }}">Українська Вища Ліга</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'ukrainian-cup'}) }}">Кубок України</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'european-cups'}) }}">Європейські Кубки</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'champions-league'}) }}">Ліга Чемпіонів</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'cev-cup'}) }}">Кубок ЄКВ</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'challenge-cup'}) }}">Кубок Виклику</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'international-competitions'}) }}">Міжнародні змагання</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'olympic-games'}) }}">Олімпійські Ігри</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'world-cup'}) }}">Чемпіонат Світу</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'european-championship'}) }}">Чемпіонат Європи</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'club-world-championship'}) }}">Клубний Чемпіонат Світу</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'international-universiade'}) }}">Всесвiтня Унiверсiaда</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'national-leagues'}) }}">Національні
                                    Ліги</a></h4></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'russia'}) }}">Росія</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'poland'}) }}">Польша</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'italy'}) }}">Італія</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'turkey'}) }}">Турція</a></li>
                        <li><a href="{{ path("volley_face_blog",{'category_slug': 'france'}) }}">Франція</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперліга. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 41, 'tournament_id': 1}) }}">Сезон
                                2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 31, 'tournament_id': 1}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 21, 'tournament_id': 1}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 3, 'tournament_id': 1}) }}">Сезон
                                2016-2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 1, 'tournament_id': 1}) }}">Сезон
                                2015-2016</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперліга. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 39, 'tournament_id': 2}) }}">Сезон
                                2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 32, 'tournament_id': 2}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 22, 'tournament_id': 2}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 4, 'tournament_id': 2}) }}">Сезон
                                2016-2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 2, 'tournament_id': 2}) }}">Сезон
                                2015-2016</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Вища ліга. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 37, 'tournament_id': 3}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 23, 'tournament_id': 3}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 5, 'tournament_id': 3}) }}">Сезон
                                2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Вища ліга. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 38, 'tournament_id': 4}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 24, 'tournament_id': 4}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 6, 'tournament_id': 4}) }}">Сезон
                                2016-2017</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Кубок. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 40, 'tournament_id': 11}) }}">Сезон
                                2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 35, 'tournament_id': 11}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 25, 'tournament_id': 11}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 13, 'tournament_id': 11}) }}">Сезон
                                2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Кубок. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 42, 'tournament_id': 11}) }}">Сезон
                                2019-2020</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 36, 'tournament_id': 12}) }}">Сезон
                                2018-2019</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 26, 'tournament_id': 12}) }}">Сезон
                                2017-2018</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 14, 'tournament_id': 12}) }}">Сезон
                                2016-2017</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперкубок. Чоловіки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 29, 'tournament_id': 21}) }}">Суперкубок 2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 33, 'tournament_id': 21}) }}">Суперкубок 2018</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="#">Україна. Суперкубок. Жінки</a></h4></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 30, 'tournament_id': 22}) }}">Суперкубок 2017</a></li>
                        <li><a href="{{ path('stat_tournament_page', {'season_id': 34, 'tournament_id': 22}) }}">Суперкубок 2018</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'beach-volleyball'}) }}">Пляжний волейбол</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'volieibol-na-snighu'}) }}">Волейбол на снігу</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'kanal-kostiantina-riabukhi'}) }}">Канал Костянтина Рябухи</a></h4></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        {#<li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'childrens-volleyball'}) }}">Дитячий волейбол</a></h4></li>#}
                        <li><h4><a href="{{ path("volley_face_blog",{'category_slug': 'amateur-volleyball'}) }}">Аматорський волейбол</a></h4></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12 copyright">
                    <img src="{{ app.request.getSchemeAndHttpHost() }}/bundles/volleyface/images/vu-gray.png">
                    volleyball.ua &copy; 2015-2019 - Волейбол в Україні
                </div>
                <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-5 col-xs-12 text-right">
                    <div class="social-icons pull-right">
                        <a href="https://www.facebook.com/volleyballua" target="_blank"
                           class="social-icon icon-facebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.t.me/volleyballua" target="_blank"
                           class="social-icon icon-telegram" title="Telegram">
                            <i class="fa fa-telegram"></i>
                        </a>
                        <a href="https://vk.com/volleyballua" target="_blank" class="social-icon icon-vk" title="VK">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="https://twitter.com/volleyballua" target="_blank" class="social-icon icon-twitter"
                           title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://instagram.com/volleyball.ua" target="_blank" class="social-icon icon-twitter"
                           title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://plus.google.com/+VolleyballUa" target="_blank"
                           class="social-icon icon-google-plus" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <!--LiveInternet counter-->
                        <script type="text/javascript"><!--
                            document.write("<a href='//www.liveinternet.ru/click' " +
                                "target=_blank><img src='//counter.yadro.ru/hit?t50.4;r" +
                                escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                                ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                                ";" + Math.random() +
                                "' alt='' title='LiveInternet' " +
                                "border='0' width='31' height='31'><\/a>")
                            //--></script><!--/LiveInternet-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</article>
<!-- /.container -->

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/script_footer.js') }}?v=18"></script>

    {#<script type="text/javascript" src="{{ asset('js/custom/modal_social.js') }}?v=18" async defer></script>#}

    <script>
      jQuery("#birthdayCarousel").carousel({
        interval: 5000
      });
    </script>
{% endblock %}

<!-- Modal social -->
{#{% include 'VolleyFaceBundle:Default/includes:modal_social.html.twig' with {} %}#}

<!-- Modal advertising -->
{#{% include 'VolleyFaceBundle:Default/includes:onmediads.html.twig' with {} %}#}

</body>
</html>
