{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Season list</h1>

    <div class="pull-right">
        <a type="button"
           class="btn btn-success" href="{{ path('stat_season_new') }}">
            Create a new entry
        </a>
    </div>
    <div class="clearfix"></div>

    <div class="table-responsive">
        <table class="table table-striped table-hover .table-condensed">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Fromyear</th>
                <th>Toyear</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('stat_season_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ (entity.tournament.country ? entity.tournament.country ~ ' - ' : '') ~ entity.tournament.name ~ ' - ' ~ entity.tournament.sex|trans ~ ' - ' ~ entity.name }}</td>
                    <td>{% if entity.fromYear %}{{ entity.fromYear|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.toYear %}{{ entity.toYear|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.status }}</td>
                    <td class="col-md-2 col-lg-2 col-sm-2">
                        <div class="btn-group pull-right" role="group" aria-label="">
                            {#<a href="{{ path('stat_season_show', { 'id': entity.id }) }}" type="button"#}
                            {#class="btn btn-default">show</a>#}
                            <a href="{{ path('stat_season_edit', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="100">
                    <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}
