{% extends 'VolleyFaceBundle::admin.html.twig' %}

{% block body -%}
    <h1>Season list</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Fromdate</th>
                <th>Todate</th>
                <th>Ordering</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('season_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{% if entity.fromDate %}{{ entity.fromDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.toDate %}{{ entity.toDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.ordering }}</td>
                    <td>{{ entity.status }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('season_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('season_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('season_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
