{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Team edit</h1>

    {{ form_start(edit_form) }}

    <div class="form-group">
        <label>Persons</label>
        <ul class="persons list-group list-inline"
            data-prototype="{{ form_widget(edit_form.roster_persons.vars.prototype)|e }}">
            {% for roster_person in edit_form.roster_persons %}
                <li class="list-group-item list-unstyled">{{ form_row(roster_person.person) }}</li>
            {% endfor %}
        </ul>
    </div>

    {{ form_end(edit_form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('stat_team_edit',{'id': entity.team.id}) }}" type="button"
           class="btn btn-default">Back to the team {{ entity.team.name }}</a>
    </div>

    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" roster_person
        var $addTagAnswer = $('<a href="#" class="btn btn-primary add_person_roster_person">Add a person</a>');
        var $newAnswerLi = $('<li class="list-group-item list-unstyled add_person_to_team"></li>').append($addTagAnswer);
        function addTagForm($collectionHolder, $newAnswerLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" set li
            var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            $newAnswerLi.before($newFormLi);
            addTagFormDeleteAnswer($newFormLi);
        }
        function addTagFormDeleteAnswer($tagFormLi) {
            var $removeFormA = $('<a class="btn btn-danger" href="#"><i class="fa fa-times"></i> delete this person</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the set from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of persons
            $collectionHolder = $('ul.persons');
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteAnswer($(this));
            });
            // add the "add a tag" anchor and li to the persons ul
            $collectionHolder.append($newAnswerLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagAnswer.on('click', function (e) {
                // prevent the set from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newAnswerLi);
            });
        });
    </script>

    <script type="text/javascript"
            src="{{ asset('bundles/volleyface/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript">
        $("select[id^='volley_statbundle_roster_roster_persons']").select2entity({width: '100%'});
        $('body').on('click', '.add_person_to_team', function (e) {
            $(this).prev().find('.select2entity').select2entity({width: '100%'});
        });
    </script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/volleyface/bower_components/select2/dist/css/select2.min.css') }}"
          type="text/css"/>
{% endblock %}
