{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% for i in range(0, entity.lvl) %} {{ '-' }} {% endfor %}{{ entity.name }}</td>
                    <td>{{ entity.parent }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{ path('category_show', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default">show</a>
                            <a href="{{ path('category_edit', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a type="button"
           class="btn btn-success" href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </div>
{% endblock %}
