{% set color = item.category.color ? item.category.color : item.category.parent and item.category.parent.color ? item.category.parent.color : item.category.parent and item.category.parent.parent and item.category.parent.parent.color ? item.category.parent.parent.color : default_category_color %}
{% set popular = popular is defined ? popular : false %}
{% set recommended = recommended is defined ? recommended : false %}

<div class="news-timeline-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% if (loop.index == 2 or loop.index == 5)  %}
    <a href="{{ path('volley_face_post',{'category_slug': item.category.slug,'post_slug': item.slug}) }}"
       title="{{ item.title }}">
        <img class="img-responsive" src="{{ item.getWebPath | imagine_filter('blog_post') }}"
             alt="{{ item.title ~ ' ' ~ item.metakey }}">
    </a>
    {% endif %}

    {#<div class="news-info row">#}
        {#<div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7">#}
            {#<span class="news-date">{{ item.created|localizeddate('none', 'none', null, null, "cccc, d MMMM") }} <br/>#}
            {#<a href="{{ path('volley_face_blog',{'category_slug': item.category.slug}) }}"#}
               {#title="{{ item.category.name }}"#}
               {#style="color: {{ color }}">{{ item.category.name }}</a></span>#}
        {#</div>#}

        {#<div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">#}
            {#{% if item.videos %}#}
                {#<a href="{{ path('volley_face_post',{'category_slug': item.category.slug,'post_slug': item.slug}) }}">#}
                    {#<div class="icon-videos" title="{{ 'post-item.post-info.icon-videos'|trans({}) }}"></div>#}
                {#</a>#}
            {#{% endif %}#}
            {#{% if item.images %}#}
                {#<a href="{{ path('volley_face_post',{'category_slug': item.category.slug,'post_slug': item.slug}) }}">#}
                    {#<div class="icon-images" title="{{ 'post-item.post-info.icon-images'|trans({}) }}"></div>#}
                {#</a>#}
            {#{% endif %}#}
            {#{% if item.vu %}#}
                {#<a href="{{ path('volley_face_post',{'category_slug': item.category.slug,'post_slug': item.slug}) }}">#}
                    {#<div class="icon-vu" title="{{ 'post-item.post-info.icon-vu'|trans({}) }}"></div>#}
                {#</a>#}
            {#{% endif %}#}
            {#{% if item.advert %}#}
                {#<a href="{{ path('volley_face_post',{'category_slug': item.category.slug,'post_slug': item.slug}) }}">#}
                    {#<div class="icon-advert" title="{{ 'post-item.post-info.icon-advert'|trans({}) }}">{{ 'post-item.post-info.icon-advert'|trans({}) }}</div>#}
                {#</a>#}
            {#{% endif %}#}
        {#</div>#}
        {#<span class="clearfix"></span>#}
    {#</div>#}

    <a href="{{ path('volley_face_post',{'category_slug': item.category.slug, 'post_slug': item.slug}) }}">
{#        <div>#}
{#            <span class="news-date">#}
{#                {{ item.created|localizeddate('none', 'none', null, null, "cccc, d MMMM") }}#}
{#            </span>#}
{#        </div>#}
        <div>
            {% if (loop.index == 2 or loop.index == 5)  %} <strong> {% endif %}
            <h3 style="border-left-color: {{ color }}">
                {{ item.title }}
                {% if item.videos %}
                    <div class="icon-videos" title="{{ 'post-item.post-info.icon-videos'|trans({}) }}"></div>
                {% endif %}
                {% if item.images %}
                    <div class="icon-images" title="{{ 'post-item.post-info.icon-images'|trans({}) }}"></div>
                {% endif %}
                {% if item.vu %}
                    <div class="icon-vu" title="{{ 'post-item.post-info.icon-vu'|trans({}) }}"></div>
                {% endif %}
                {% if item.advert %}
                    <div class="icon-advert" title="{{ 'post-item.post-info.icon-advert'|trans({}) }}">{{ 'post-item.post-info.icon-advert'|trans({}) }}</div>
                {% endif %}
            </h3>
                {% if (loop.index == 2 or loop.index == 5)  %} </strong> {% endif %}
        </div>
    </a>
</div>
