<div class="row game-center">
    <div class="col-lg-12">
        <div class="section-title">
            Матч-центр
        </div>
        <h2>
            {% if date.date is not null %} {{ date.date|date("d.m.Y") }} {% endif %}
        </h2>
        <div class="game-center-data">
            <table class="table table-hover table-condensed">
                {% for tour in tours %}
                    <tr>
                        <th colspan="100">
                            <a href="{{ path('stat_tournament_page', {'season_id': tour.tour.round.season.id, 'tournament_id': tour.tour.round.season.tournament.id}) }}">
                                {{ tour.tour.round.season.tournament.country.name }}
                                - {{ tour.tour.round.season.tournament.name }}
                                - {{ tour.tour.round.season.tournament.sex|trans }}
                                {# - {{ tour.tour.round.season.name }} #}
                                {#- {{ tour.tour.round.name }}#}
                                - {{ tour.tour.name }}
                            </a>
                        </th>
                    </tr>
                    {% for game in tour.games %}
                        {% set winnerTeamA = (game.scoreSetHome > game.scoreSetAway) %}
                        {% set winnerTeamB = (game.scoreSetHome < game.scoreSetAway) %}
                        <tr>
                            <td>{% if game.date is not null %} {{ game.date|date("H:i") }} {% endif %}</td>
                            <td class="teamA">
                                {{ winnerTeamA ? "<strong>" : "" }}
                                {#<a href="{{ path('volley_face_team',{'team_id':game.homeTeam.id}) }}"> #}
                                {{ game.homeTeam.name }}
                                {#</a>#}
                                {{ winnerTeamA ? "</strong>" : "" }}
                            </td>
                            <td><span class="text-nowrap">{{ game.scoreSetHome~'-'~game.scoreSetAway }}</span></td>
                            <td class="teamB">
                                {{ winnerTeamB ? "<strong>" : "" }}
                                {#<a href="{{ path('volley_face_team',{'team_id':game.awayTeam.id}) }}"> #}
                                {{ game.awayTeam.name }}
                                {#</a>#}
                                {{ winnerTeamB ? "</strong>" : "" }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>