{% extends '::admin.html.twig' %}

{% block body -%}
    <h1 class="page-header">Player edit</h1>

<div class="table-responsive">
    {#{{ form(edit_form) }}#}
    {{ form_start(edit_form) }}

    {{ form_row(edit_form.slug, { 'attr': {'disabled': 'disabled'}}) }}

    {{ form_errors(edit_form) }}

    {% if entity.path %}<a href="{{ entity.getWebPath }}" target="_blank"><img style="width: 100px; height: auto;" src="{{ entity.getWebPath }}"></a>{% endif %}
    {{ form_row(edit_form.file) }}

    {{ form_end(edit_form) }}

    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('stat_person') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
