{% extends '::admin.html.twig' %}

{% block body -%}
    <h1 class="page-header">Player creation</h1>

    <div class="table-responsive">
        {#{{ form(form) }}#}
        {{ form_start(form) }}
        {{ form_row(form.slug, { 'attr': {'disabled': 'disabled'}}) }}
        {{ form_errors(form) }}

        {% if entity.path %}<a href="{{ entity.getWebPath }}" target="_blank"><img style="width: 100px; height: auto;" src="{{ entity.getWebPath }}"></a>{% endif %}
        {{ form_row(form.file) }}

        {{ form_end(form) }}
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('stat_person') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
