{% extends '::admin.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a>
            </li>
            <li role="presentation"><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">Meta</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="main">
                <br>
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.title) }}
                {{ form_row(edit_form.file) }}
                {{ form_row(edit_form.content) }}
                {{ form_row(edit_form.text) }}
                {{ form_row(edit_form.state) }}
                {{ form_row(edit_form.published) }}
                {{ form_row(edit_form.source) }}
                {{ form_row(edit_form.featured) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="meta">
                <br>
                {{ form_row(edit_form.metakey) }}
                {{ form_row(edit_form.metadescr) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="rest">
                {{ form_row(edit_form.ordering) }}
                {{ form_row(edit_form.hits) }}
                {{ form_row(edit_form.language) }}
                {{ form_row(edit_form.createdBy) }}
                {{ form_row(edit_form.modifiedBy) }}

            </div>
        </div>
    </div>



    {{ form_end(edit_form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('post') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/volleyface/js/jquery.datetimepicker.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/volleyface/css/jquery.datetimepicker.css') }}" type="text/css" />
{% endblock %}