{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Post creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a>
            </li>
            <li role="presentation"><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">Meta</a></li>
            <li role="presentation"><a href="#refs" aria-controls="meta" role="tab" data-toggle="tab">References</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="main">
                <br>
                {{ form_row(form.category) }}
                {{ form_row(form.title) }}
                {{ form_row(form.slug, { 'attr': {'disabled': 'disabled'}}) }}
                {{ form_row(form.slugUpdateble) }}

                {{ form_row(form.file) }}
                {{ form_row(form.imageDescr) }}
                {{ form_row(form.imageSource) }}

                {{ form_row(form.content) }}
                {{ form_row(form.text) }}
                {{ form_row(form.published) }}
                {{ form_row(form.sourceName) }}
                {{ form_row(form.sourceLink) }}
                {{ form_row(form.state) }}
                {{ form_row(form.featured) }}

                {{ form_row(form.recommended) }}
                {{ form_row(form.images) }}
                {{ form_row(form.videos) }}
                {{ form_row(form.translated) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="meta">
                <br>
                {{ form_row(form.metakey) }}
                {{ form_row(form.metadescr) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="refs">
                <br>
                {{ form_row(form.teams) }}
                {{ form_row(form.persons) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="rest">
                {{ form_row(form.ordering) }}
                {{ form_row(form.hits) }}
                {{ form_row(form.language) }}
                {{ form_row(form.createdBy) }}
                {{ form_row(form.modifiedBy) }}

            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="btn-group" role="group" aria-label="">
        <a href="{{ path('post') }}" type="button"
           class="btn btn-default">Back to the list</a>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/volleyface/js/custom/jquery.datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/volleyface/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom/post.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/volleyface/css/jquery.datetimepicker.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/volleyface/bower_components/select2/dist/css/select2.min.css') }}" type="text/css"/>
{% endblock %}
