{% extends '::layout.html.twig' %}

{% block content %}

    {# Bonus: Show all available login link in HWIOAuthBundle #}
    {#{{  render(controller('HWIOAuthBundle:Connect:connect')) }}#}

    <div class="container">

        {% if error is defined and error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div  class="user-form">
            <form action="{{ path('login_check') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <h2 class="user-form-heading">{{ 'layout.login'|trans({}) }}</h2>
{#                <label for="inputEmail" class="sr-only">{{ 'security.login.username'|trans({}) }}</label>#}
                <input type="text" id="username" class="form-control" placeholder="{{ 'user.admin.email'|trans({}) }}" required="true" autofocus="" name="_username">
                <br/>
{#                <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans({}) }}</label>#}
                <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'user.admin.password'|trans({}) }}" required="true">

                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               value="on" id="remember_me"
                               name="_remember_me"> {{ 'security.login.remember_me'|trans({}) }}
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit"
                        type="submit">{{ 'security.login.submit'|trans({}) }}</button>
                <br/>
                <a href="{{ path('register_route') }}">{{ 'layout.register'|trans({}) }}</a>

                <br/><br/>

                <div class="social-login-wrapper">
                    <p>{{ 'security.login_with_socials'|trans({}) }}</p>

                    {% for owner in hwi_oauth_resource_owners() %}
                        {% if owner == 'facebook' %}
                            <a class="social-login-item {{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        {% elseif owner == 'google' %}
                            <a class="social-login-item {{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">
                                <i class="fa fa-google"></i>
                            </a>
                        {% else %}
                            {#<a class="social-login-item" href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br/>#}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
