{% extends '::layout.html.twig' %}

{% block content %}

    {# Bonus: Show all available login link in HWIOAuthBundle #}
    {#{{  render(controller('HWIOAuthBundle:Connect:connect')) }}#}

    <div class="container">

        {% if error is defined and error %}
            {#            <div class="alert alert-danger" role="alert">#}
            {#                {{ error|trans({}, 'FOSUserBundle') }}#}
            {#            </div>#}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="user-form">
            <h2 class="user-form-heading">{{ 'layout.register'|trans({}) }}</h2>

            {{ form_start(register_form) }}

            {{ form_widget(register_form.email, { 'attr': {'class': '', 'autofocus': '', 'placeholder': 'security.register.email'|trans({})} }) }}
            {{ form_errors(register_form.email) }}
            <br/>
            {{ form_widget(register_form.firstName, { 'attr': {'class': '', 'placeholder': 'security.register.firstName'|trans({})} }) }}
            {{ form_errors(register_form.firstName) }}
            <br/>
            {{ form_widget(register_form.lastName, { 'attr': {'class': '', 'placeholder': 'security.register.lastName'|trans({})} }) }}
            {{ form_errors(register_form.lastName) }}
            <br/>
            {{ form_widget(register_form.plainPassword.first, { 'attr': {'class': '', 'placeholder': 'security.register.plainPassword'|trans({})} }) }}
            {{ form_errors(register_form.plainPassword.first) }}
            <br/>
            {{ form_widget(register_form.plainPassword.second, { 'attr': {'class': '', 'placeholder': 'security.register.confirmPassword'|trans({})} }) }}
            {{ form_errors(register_form.plainPassword.second) }}
            <br/>

            {{ form_widget(register_form.submit, { 'attr': {'class': 'btn btn-lg btn-primary btn-block'}, 'label': 'security.register.submit'|trans({}) }) }}

            {{ form_end(register_form) }}

            <br/><br/>

            <div class="social-login-wrapper">
                <p>{{ 'security.login_with_socials'|trans({}) }}</p>

                {% for owner in hwi_oauth_resource_owners() %}
                    {% if owner == 'facebook' %}
                        <a class="social-login-item {{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    {% elseif owner == 'google' %}
                        <a class="social-login-item {{ owner }}" href="{{ hwi_oauth_login_url(owner) }}">
                            <i class="fa fa-google"></i>
                        </a>
                    {% else %}
                        {#<a class="social-login-item" href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br/>#}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
